<h1 class="text-primary mlCentr mt-5">Inscrivez-vous</h1>
<form class="example-form mt-5 mlCentre" [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Username*</mat-label>
        <input formControlName="username" matInput>
        <mat-error *ngIf="form.hasError('required','username')">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="ml-5">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="form.hasError('required','email')">Email is required</mat-error>
        <mat-error *ngIf="form.hasError('email','email')">Email not valid</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input formControlName="fName" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="ml-5">
        <mat-label>Last Name</mat-label>
        <input formControlName="sName" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="form.hasError('required','password')">Password is required</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="ml-5">
        <mat-label>Confirm your password</mat-label>
        <input formControlName="confirmePassword" matInput [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="form.hasError('required','confirmePassword')">Password is required</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div>
        <label>You are: </label>
        <br>
        <mat-radio-group formControlName="TypeUtulisateur">
            <mat-radio-button value="Coach">Coach</mat-radio-button>
            <mat-radio-button class="ml-5" value="Condidat">Condidat</mat-radio-button>
        </mat-radio-group>
    </div>
    <button class="btn btn-primary" type="button" (click)="registreMembre()" data-toggle="modal" data-target="#exampleModal">Subscribe</button>
</form>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connectez-vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form class="form-inline my-2 my-lg-0 ml-auto" [formGroup]="connexion">
                    <input formControlName="username" class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search">
                    <input formControlName="password" class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Search">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="loggedUser()">Connexion</button>
            </div>
        </div>
    </div>
</div>